/* 
    Convencion:
    1-Posicionamiento 
    2-Modelo de caja
    3-Tipografia
    4-Visuales
    5-otros
*/
:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --grey-new: #757575;
    --grey-2:  #808080;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header {
    background: linear-gradient(207.8deg, var(--black) 16.69%, var(--bitcoin-orange) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
}
header img {
    width: 160px;
    height: 24px;
    align-self: center;
    margin-top: 60px;
}
.header__container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    align-self: center;
    text-align: center;
}
.header__container h1 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header__container p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
    margin: 2.4rem 0 2.4rem 0; 
}
.header__container .header__button {
    /* Posicionamiento y tamaño */
    width: 235px;
    height: 48px;
    padding: 12px 16px;
    position: absolute;
    /* Usando Calc */
    top: calc(100% - 24px);
    /* left: calc(50% - 114.5px); */
    left: calc((100% - 235px) / 2);
    /* Tipografia */
    text-decoration: none;
    color: var(--warm-black);
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    /* Visuales */
    border-radius: .4rem;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.header__container span {
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}
main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main__exchange-container {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}
.main__exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url("./assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main__exchange--title {
    width: 90%;
    margin: 0 auto;
    min-width: 288px;
    max-width: 900px;
}
.main__exchange--title h2 {
    margin-top: 4rem;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--warm-black);
}
.main__exchange--title p {
    margin-top: 2.4rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--grey-new);
}
.currency-table, .comissions-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    /* font-size: 1.6rem; */
}
.currency-table--title, .comissions-table--title {
    margin-top: 25px;
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: bold;
    text-align: start;
    margin-left: 12px;
    margin-bottom: 12px;
}
.currency-table--title {
    color: var(--bitcoin-orange);
}
.comissions-table--title {
    color: var(--secondary-blue);
}
.currency-table--container, .comissions-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    border-radius: 15px;
    /* background-color: #fff; */
}
.currency-table--container table, .comissions-table--container table {
    width: 100%;
    height: 100%;
}
.currency-table--container td, .comissions-table--container td{
    width: 50%;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--grey);
    background-color: var(--just-white);
}
.down {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-left: 10.5px;
    background-image: url('./assets/icons/trending-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.up {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-left: 10.5px;
    background-image: url('./assets/icons/trending-up.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.currency-table--container .table-rigth, .comissions-table--container .table-rigth {
    color: var(--grey-new);
    font-size: 1.4rem;
    line-height: 1.6rem;
}
.currency-table--container .table__top--rigth, .comissions-table--container .table__top--rigth {
    border-top-right-radius: 8px;
}
.currency-table--container .table__top--left, .comissions-table--container .table__top--left {
    border-top-left-radius: 8px;
}
.currency-table--container .table__bottom--rigth, .comissions-table--container .table__bottom--rigth {
    border-bottom-right-radius: 8px;
}
.currency-table--container .table__bottom--left, .comissions-table--container .table__bottom--left {
    border-bottom-left-radius: 8px;
}
.currency-table--date, .comissions-table--date {
    width: 80%;
    min-width: 173px;
    max-width: 290px;
    height: 31px;
    margin: 15px auto;
    /* margin-top: 15px; */
    padding: 8px;
    border-radius: 8px;
}
.currency-table--date {
    background-color: var(--soft-orange);
}
.comissions-table--date {
    background-color: var(--soft-blue);
}
.currency-table--date p, .comissions-table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--black);
}
.main-product-detail {
    background-color: var(--warm-black);
}
.product-detail__batata-logo {
    display: inline-block;
    width: 70px;
    height: 43px;
    background-image: url('./assets/icons/batata.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: -20px;
    left: calc((100% - 70px) / 2);
}
.product-detail--title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 94px;
    margin-top: 25px;
    margin-bottom: 32px;  
    /* color: var(--just-white);
    background-color: var(--warm-black); */
}
.product-detail--title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--grey-2);
    margin-top: 24px;
}
.product-cards--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 600px;
    height: 152px;
    background-color: var(--black);
    margin: 15px auto;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .card--title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: bold;
    color: var(--just-white);
    margin: 12px auto 10px 16px;
}
.product-detail--card p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey-2);
    margin-left: 16px;
}
.product-detail--card span {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 18px;
    margin-top: 16px;
}
.clock {
    background-image: url('./assets/icons/clock.svg');
}
.eye {
    background-image: url('./assets/icons/eye.svg');
}
.dollar {
    background-image: url('./assets/icons/dollar-sign.svg');
}
.check {
    background-image: url('./assets/icons/check-circle.svg');
}
.clock, .eye, .dollar, .check {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 60px;
  text-align: center;
  background-color: var(--off-white);
}
.main-plans-container h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
  margin-top: 60px;
}
.main-plans-container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey-new);
    margin-top: 24px;
}
/* .plans-container--slider {
    display: flex;
    width: 100%;
    height: 316px;
    margin: 24px 0;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
} */
.plans-container--card {
  position: relative;
  width: 70%;
  min-width: 190px;
  max-width: 500px;
  height: 250px;
  margin: 50px auto;
  background-color: var(--just-white);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.plans-container--card .recommended {
  position: absolute;
  width: 50%;
  height: 31px;
  padding: 8px;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.4rem;
  color: var(--just-white);
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  top: -40px;
  left: calc((100% - 50%) / 2);
}
.plan-card {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 80%;
    margin: 0 auto;
}
.plan-card--title {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: normal;
}
.plan-card .plan-card--price {
    font-family: 'Inter', sans-serif;
    font-size: 5.2rem;
    line-height: 6.3rem;
    font-weight: bold;
    color: #000;
}
.plan-card .plan-card--saving {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin: 16px 0;
}
.plan-card--ca {
    width: 90%;
    min-width: 151px;
    max-width: 280px;
    height: 48px;
    color: var(--warm-black);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
}
.plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    background-image: url('./assets/icons/orange-right-arrow.svg');
}